body {
    margin: 0;
    padding: 0;
    user-select: none;
}

header {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 52px;
    color: #14214c;
    font-weight: normal;
}

header h1 span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ff375c;
    font-weight: bold;
}

.main-container {
    font-family: 'Arial', sans-serif;
    display: flex;
    padding: 20px;
    margin: auto;
    gap: 20px;
}

.sidebar {
    order: 2;
    flex: 1;
    background: #f4f4f4;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 5px;
}

.sidebar h2 {
    color: #14214c;
    font-weight: 100;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
}

.calories-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 25px;
}

.track {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.track-range {
    position: absolute;
    height: 1px;
    background-color: #0095ff;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.calories-range {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background: transparent;
    pointer-events: auto;
}

.calories-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00003e;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.calories-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00003e;
    cursor: pointer;
}

.calories-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    gap: 10px;
}

.sidebar label {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    font-size: 18px;
    background: #dfdfdf;
    border: 1px solid #cccccc;
    color: #14214c;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.sidebar label:hover {
    background: #c5c5c5;
}

.grid {
    order: 1;
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card {
    background: #f4f4f4;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    height: 270px;
    transition: box-shadow 0.3s;
}

input[type="radio"] {
    display: none;
}

.card:hover {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
}

.card-image-container {
    display: flex;
    text-align: left;
    font-size: 18px;
}

.card-title {
    margin: 10px;
    color: #14214c;
}

span {
    font-weight: bold;
}

.card hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 20px 0;
}

.card img {
    width: 200px;
    height: 150px;
    margin: 10px 10px 20px 10px;
}

.card p {
    text-align: left;
    font-size: 18px;
    color: #14214c;
    margin: 10px;
}

#all:checked ~ .grid .card {
    display: block;
}

input[type="radio"]:checked + label {
    background: #ff375c;
    color: white;
    font-weight: bold;
    border: 2px solid #ff375c;
}

#torty:checked ~ .grid .card,
#keksy:checked ~ .grid .card,
#tistechka:checked ~ .grid .card,
#cookies:checked ~ .grid .card,
#pancakes:checked ~ .grid .card,
#donuts:checked ~ .grid .card,
#waffles:checked ~ .grid .card {
    display: none;
}

#torty:checked ~ .grid .torty,
#keksy:checked ~ .grid .keksy,
#tistechka:checked ~ .grid .tistechka,
#cookies:checked ~ .grid .cookies,
#pancakes:checked ~ .grid .pancakes,
#donuts:checked ~ .grid .donuts,
#waffles:checked ~ .grid .waffles {
    display: block;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #14214c;
}

footer p {
    margin: 0;
    font-size: 18px;
}

footer p a {
    text-decoration: none;
    color: #0070ac;
}

@media (min-width: 360px) and (max-width: 730px) {
    header h1 {
        font-size: 32px;
    }

    header h1 span {
        font-size: 36px;
    }

    .main-container {
        display: block;
        padding: 10px;
        margin: auto;
    }

    .sidebar {
        order: 1;
        flex: none;
        background: none;
        border: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding: 0;
        margin-bottom: 10px;
    }

    .sidebar h2 {
        display: none;
    }

    .calories-filter {
        display: none;
    }

    .calories-text {
        display: none;
    }

    .sidebar label {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    .sidebar label:hover {
        background: #c5c5c5;
    }

    .grid {
        display: block;
        gap: 15px;
    }

    .card {
        width: 100%;
        background: none;
        border: none;
        text-align: center;
        height: auto;
        border-radius: 5px;
    }

    .card:hover {
        box-shadow: none;
    }

    .card-image-container {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .card img {
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 5px;
    }

    .card-title, .card p {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        color: #14214c;
    }

    footer a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    footer a::before {
        content: '✉ㅤ';
    }
}

@media (min-width: 730px) and (max-width: 1200px) {
    .calories-filter {
        display: none;
    }

    .main-container {
        flex-direction: column;
    }

    .sidebar {
        order: 1;
        flex: none;
        background: none;
        border: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding: 0;
    }

    .sidebar h2 {
        display: none;
    }

    .sidebar label {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    input[type="radio"]:checked + label {
        background: #ff375c;
        color: white;
        font-weight: bold;
        border: 2px solid #ff375c;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .card {
        height: auto;
    }

    .card-image-container {
        flex-wrap: wrap;
    }

    .card img {
        width: 100%;
    }

    .card p, hr {
        display: none;
    }

    #all:checked ~ .grid .card {
        display: block;
    }

    footer a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    footer a::before {
        content: '✉ㅤ';
    }
}